.dockerignore
.env
.github
.gitignore
.goreleaser.yaml
crowdin.yml
Dockerfile
Dockerfile.api
LICENSE
PRIVACY.md
README.md
*.md

# remove if ever using embedding, but until then, no need to send to Docker context
assets
