# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/amongusdiscord

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# json config files
*.json

.idea/

# config files
config.txt
final.txt
final.env
*log.txt

# logs file
logs.txt

# remnant from when the project used tesseract
temp.png
discuss.png
ending.png
