name: test

on:
  push:
    branches:
      - '**'
    tags:
      - '*.*.*'

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: test
        run: go test ./...